<div class="center hero-unit">
  <h1>Discover & Fund Fashion</h1>

  <h2>
    Barracudaz provides crowd funding and manufacturing for designers
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>